<div class="row mt-2">
  <div class="col-6">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <%= message.content %>
      </div>
    </div>
    <% if message.voice_recording.present? %>
      <audio controls>
        <source src="<%= url_for(message.voice_recording) %>" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    <% end %>
  </div>
</div>
